@import './font/iconfont.scss';

* {
	margin: 0;
	padding: 0;
}

html,
body,
.main,
.tips {
	width: 100%;
	height: 100%;
}

.main {
	position: relative;
	background: #282828;

	.tips {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		background: #282828;
		text-align: center;
		color: white;

		.wrap {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 50px 100px;
			border: 2px dashed white;
			border-radius: 10px;
		}

		.icon {
			font-size: 100px;
		}

		p {
			margin-top: -16px;
			font-size: 20px;
		}
	}

	.left {
		position: absolute;
		top: 0;
		left: 0;
		right: 240px;
		height: 100%;
		overflow: auto;
		z-index: 10;

		.wrap {
			width: 100%;
			height: 100%;
			display: table;

			.middle {
				display: table-cell;
				text-align: center;
				vertical-align: middle;
			}
		}

		.image {
			display: inline-block;
			background: white;
			img {
				height: 400px;
			}
		}

		.ctrl {
			position: absolute;
			top: 0;
			right: 0;
			padding: 10px;
			z-index: 20;

			.icon {
				margin: 0 5px;
				color: #888;
				font-size: 20px;
				cursor: pointer;
				&:hover {
					color: #ccc;
				}
			}
		}
	}

	.right {
		position: absolute;
		top: 0;
		right: 0;
		width: 240px;
		height: 100%;
		border-left: 3px solid #383838;
		background: #4d4d4d;
		z-index: 10;

		.group {
			position: absolute;
			left: 0;
			width: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			z-index: 20px;

			&.draw {
				top: 0;
				bottom: 240px;
				border-bottom: 3px solid #383838;
			}

			&.control {
				bottom: 0;
				height: 240px;
			}
		}

		.tabs {
			position: relative;
			height: 30px;
			line-height: 30px;
			background: #424242;
			font-size: 0;
			border-bottom: 1px solid #383838;

			.tab-item {
				height: 100%;
				display: inline-block;
				padding: 0 10px;
				border-right: 1px solid #383838;
				text-align: center;
				font-size: 14px;
				color: #a0a0a0;
				&:hover {
					background: #4d4d4d;
					cursor: pointer;
				}
				&.active {
					height: 31px;
					background: #4d4d4d !important;
					cursor: default !important;
					color: #f0f0f0;
				}
			}

			.icon-add {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 30;
				width: 26px;
				text-align: center;
				font-size: 14px;
				color: #aaa;
				cursor: pointer;
				&:hover {
					color: #ccc;
				}
			}
		}

	}

}

/* 滚动条样式 */
::-webkit-scrollbar-thumb {
	background-color: #696969;
	border-radius: 8px;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	overflow: auto;
	background: #4a4a4a;
}